[Unit]
Description=JupyterHub server
After=syslog.target network.target

[Service]
Type=simple
PIDFile={{ jupyter.pid }}
Environment="PATH={{ jupyterhub.path }}"
ExecStart={{ jupyter.dir.venv }}/venv/bin/jupyterhub --config {{ jupyterhub.config }}
WorkingDirectory={{ jupyter.dir.venv }}/venv
User=root
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
