[Desktop Entry]
Name=Jupyter
Type=Application
Exec=/usr/bin/chromium-browser --new-window --app="https://{{ jupyter.domain }}"
GenericName={{ jupyter.domain }}
Comment=
Categories=Network;WebDevelopment;
Keywords=jupyter;webapp;jupyterhub;python;inotebook;data science;
StartupWMClass=chromium-app-jupyter
Icon={{ desktop_icon.dest }}
Version=1.1
{# empty MimeType line just to suppress "lacks Mimetype" warning during update-desktop-database #}
MimeType=
