<VirtualHost *:80>
   ServerAdmin {{ jupyter.email }}
   ServerName {{ jupyter.domain }}
   {% if jupyter.alias != "" %}
   ServerAlias {{ jupyter.alias }}
   {% endif %}

   Redirect permanent / https://{{ jupyter.domain }}/

   ErrorLog ${APACHE_LOG_DIR}/{{ jupyter.domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ jupyter.domain }}_access.log combined
</VirtualHost>

<VirtualHost *:443>
   ServerAdmin {{ jupyter.email }}
   ServerName {{ jupyter.domain }}
   ServerAlias {{ jupyter.alias }}

   SSLEngine on
   SSLCertificateKeyFile   /etc/letsencrypt/live/{{ jupyter.domain }}/privkey.pem
   SSLCertificateFile      /etc/letsencrypt/live/{{ jupyter.domain }}/cert.pem
   SSLCertificateChainFile /etc/letsencrypt/live/{{ jupyter.domain }}/chain.pem

   # Use RewriteEngine to handle websocket connection upgrades
   RewriteEngine On
   RewriteCond %{HTTP:Connection} Upgrade [NC]
   RewriteCond %{HTTP:Upgrade} websocket [NC]
   RewriteRule /(.*) ws://{{ jupyter.ip }}:{{ jupyter.port }}/$1 [P,L]

   <Location "/">
      # preserve Host header to avoid cross-origin problems
      ProxyPreserveHost on
      # proxy to JupyterHub
      ProxyPass http://{{ jupyter.ip }}:{{ jupyter.port }}/
      ProxyPassReverse  http://{{ jupyter.ip }}:{{ jupyter.port }}/
   </Location>

   ErrorLog ${APACHE_LOG_DIR}/{{ jupyter.domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ jupyter.domain }}_access.log combined
</VirtualHost>
